<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659914344266-361idjr8im9e9qv5o0u5ajltifjbbqkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659914344266-361idjr8im9e9qv5o0u5ajltifjbbqkf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>659914344266-dach3jqutg1te9sj1uctmb8l6ujlj2r6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7JJJ9WG9GCr7rMnAN4-8ar6a9g_AD2J8</string>
	<key>GCM_SENDER_ID</key>
	<string>659914344266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookly.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-first-739a0</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-739a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659914344266:ios:552681c959dba7e5a8a3b3</string>
</dict>
</plist>